<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <!-- JAVA SERVLETS -->
    <servlet>
        <servlet-name>CheckImportNeeded</servlet-name>
        <servlet-class>com.eweware.heardimporter.CheckImportNeeded</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImportChannel</servlet-name>
        <servlet-class>com.eweware.heardimporter.ImportChannel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImportFeed</servlet-name>
        <servlet-class>com.eweware.heardimporter.ImportFeed</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImportOneChannel</servlet-name>
        <servlet-class>com.eweware.heardimporter.ImportOneChannel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImportFeedToChannel</servlet-name>
        <servlet-class>com.eweware.heardimporter.ImportFeedToChannel</servlet-class>
    </servlet>

    <!-- SERVLET MAPPINGS -->
    <servlet-mapping>
        <servlet-name>CheckImportNeeded</servlet-name>
        <url-pattern>/api/importNeeded</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ImportChannel</servlet-name>
        <url-pattern>/api/importChannel</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ImportFeed</servlet-name>
        <url-pattern>/api/importFeed</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ImportOneChannel</servlet-name>
        <url-pattern>/api/importOneChannel</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ImportFeedToChannel</servlet-name>
        <url-pattern>/api/importFeedToChannel</url-pattern>
    </servlet-mapping>


    <!-- JSP PAGES -->
    <servlet>
        <servlet-name>testimport</servlet-name>
        <jsp-file>/testimport.jsp</jsp-file>
    </servlet>

    <!-- JSP MAPPINGS -->
    <servlet-mapping>
        <servlet-name>testimport</servlet-name>
        <url-pattern>/testimport</url-pattern>
    </servlet-mapping>

</web-app>
